<!-- base.html -->
{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        {% block css %} {% endblock css %}
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/estiloPagina.css' %}">
    
    </head>
    <body>
    <div class="header">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'images/img/logo.jpg' %}"  alt="LOGO MascotasのAdo"></a>
        </div>
    </div>
    <br>
    <br>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
    <div>
        {% block footer %} {% endblock %}
    </div>
    {% block javascript %} {% endblock javascript %}
    </body>
</html>
